@page "/newNote"

@using MudBlazor.Utilities

<PageTitle>New note</PageTitle>

<h3>Note title:</h3>
<MudTextField 
    @bind-Value="@NoteTitle"
    T="string" 
    Variant="Variant.Outlined"
    Style="@($"border-color:{_pickerColor.ToString(MudColorOutputFormats.RGBA)}")"
/>

<MudCheckBox Class="mt-2" @bind-Checked="@AddSpecialColor" Color="Color.Primary" Style="border-c">
    Add border color
</MudCheckBox>

@if (AddSpecialColor)
{
    <div class="d-flex justify-center mt-8">
        <MudPaper Width="300px">
             <MudColorPicker
                Elevation="3" 
                ColorPickerView="ColorPickerView.Palette"
                PickerVariant="PickerVariant.Static"
                Value="_pickerColor"
                ValueChanged="UpdateSelectedColor"
                Palette="CustomPalette"
                DisableToolbar="true" 
                DisableAlpha="true" 
                DisablePreview="true"
                DisableSliders="true"
                DisableInputs="true"
                DisableModeSwitch="true" 
            />
    </MudPaper>
    </div>
    
}

<div class="d-flex justify-center mt-8">
    <div class="col">
        <MudFab Class="align-self-end"
            StartIcon="@Icons.Material.Filled.Save"
            Size="Size.Medium"
            Color="Color.Primary"
            Label="Save"
            OnClick="SaveAndGoToNoteDetails">
        </MudFab>
    </div>
    <div class="col">
        <MudFab Class="align-self-end ml-5"
            StartIcon="@Icons.Material.Filled.Cancel"
            Size="Size.Medium"
            Color="Color.Error"
            Label="Cancel"
            OnClick="Cancel">
        </MudFab>
    </div>
</div>