@page "/noteDetails/{Id:int}"

@using MudBlazor.Utilities

<PageTitle>Notes details</PageTitle>

<div class="d-flex justify-center mb-8">
    <MudFab Class="align-self-center"
            StartIcon="@Icons.Material.Filled.ArrowBack"
            Size="Size.Medium"
            Color="Color.Dark"
            Label="All notes"
            OnClick="GoToNotePage">
    </MudFab>
</div>

@if (Note is null && string.IsNullOrEmpty(ErrorMessage))
{
    <div class="centerScreen"
         style="
                position: fixed;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);">
        <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
    </div>
}
else if (!string.IsNullOrEmpty(ErrorMessage))
{
    <MudAlert Severity="Severity.Error">@ErrorMessage</MudAlert>
}
else
{
    <MudTextField 
        DebounceInterval="500" 
        OnDebounceIntervalElapsed="ChangeNoteTitle" 
        @bind-Value="@Note.Title"
        T="string"
        Variant="Variant.Outlined"
        Class="mt-0 mb-4"
    />

    <MudTextField 
        DebounceInterval="500" 
        OnDebounceIntervalElapsed="ChangeNoteContent"
        @bind-Value="@Note.Content"
        Text="@Note.Content"
        T="string"
        Lines="30"
        Variant="Variant.Outlined"
        Class="mt-0"
    />
}