@page "/noteDetails/{Id:int}"

<PageTitle>Notes details</PageTitle>

<div class="d-flex justify-center mb-8">
    <MudFab Class="align-self-center"
            StartIcon="@Icons.Material.Filled.ArrowBack"
            Size="Size.Medium"
            Color="Color.Primary"
            Label="All notes"
            OnClick="GoToNotePage">
    </MudFab>
</div>

@if (Note is null && string.IsNullOrEmpty(ErrorMessage))
{
    <div class="centerScreen"
         style="
                position: fixed;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);">
        <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
    </div>
}
else if (!string.IsNullOrEmpty(ErrorMessage))
{
    <MudAlert Severity="Severity.Error">@ErrorMessage</MudAlert>
}
else
{
    <MudGrid>
        <MudItem xs="9">
            <MudTextField 
                DebounceInterval="500" 
                OnDebounceIntervalElapsed="ChangeNoteTitle" 
                @bind-Value="@Note.Title"
                T="string"
                Variant="Variant.Outlined"
                Class="mt-0 mb-4"
            />

            <MudTextField 
                DebounceInterval="500" 
                OnDebounceIntervalElapsed="ChangeNoteContent"
                @bind-Value="@Note.Content"
                Text="@Note.Content"
                T="string"
                Lines="30"
                Variant="Variant.Outlined"
                Class="mt-0"
            />
        </MudItem>

        <MudItem xs="3">
            <MudContainer Style="max-width: 190px">
                @if (!StartAddTag)
                {
                    <div class="d-flex justify-center mb-8 mt-1">
                        <MudFab Class="align-self-center"
                                StartIcon="@Icons.Material.Filled.Add"
                                Size="Size.Small"
                                Color="Color.Dark"
                                Label="Add tag"
                                OnClick="AddTag">
                        </MudFab>
                    </div>
                }
                else
                {
                    <div class="d-flex justify-center mb-8">
                        <MudStack>
                            <MudTextField 
                                @bind-Value="NewTagName" 
                                Class="mt-0" 
                                Label="Tag name" 
                                MaxLength="15"
                                Variant="Variant.Outlined">

                            </MudTextField>
                            <MudFab Class="align-self-center"
                                    StartIcon="@Icons.Material.Filled.Add"
                                    Size="Size.Small"
                                    Color="Color.Success"
                                    Label="Save"
                                    OnClick="SaveTag">
                            </MudFab>
                        </MudStack>
                    </div>
                }
                <MudStack>
                    @foreach (var tag in NoteTags)
                    {
                        <MudChip Color="@((Color)tag.Color)" Class="mb-2" OnClose="async () => { await DeleteTag(tag); }">
                            @tag.Title
                        </MudChip>
                    }
                </MudStack>
            </MudContainer>
        </MudItem>
    </MudGrid>
}