@page "/notes"

@using MudBlazor.Utilities

<PageTitle>Notes</PageTitle>

<div class="d-flex justify-center mb-8">
    <MudFab Class="align-self-end mud-theme-primary"
            StartIcon="@Icons.Material.Filled.Add"
            Size="Size.Medium"
            Label="Add note"
            OnClick="NewNote">
    </MudFab>
</div>

@if (Notes is null)
{
    <MudAlert Severity="Severity.Info"
          ContentAlignment="HorizontalAlignment.Center">
        No notes!
    </MudAlert>
}
else
{
    <MudStack>
        @foreach (var note in Notes)
        {
            <MudPaper @onclick="() => { NoteDetails(note.Id);}"
                Elevation="3"
                      Style="@($"border-color:{new MudColor(string.IsNullOrEmpty(note.Color) ? "c5c5db" : note.Color).ToString(MudColorOutputFormats.RGBA)}")"
                Class="border-2"
            >
                <MudCard>
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">
                                @note.Title
                            </MudText>
                        </CardHeaderContent>
                        <CardHeaderActions>
                        <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Default" @onclick="async () => { await DeleteNote(note);}" />
                        </CardHeaderActions>
                    </MudCardHeader>
                    <MudCardContent>
                        @foreach (var noteTag in note.NoteTags)
                        {
                            <MudChip Color="@((Color)noteTag.Color)" Class="mr-2">
                                @noteTag.Title
                            </MudChip>
                        }
                    </MudCardContent>
                </MudCard>
            </MudPaper>
        }

    </MudStack>
    @*<MudGrid>
        @foreach (var note in Notes)
        {
            <MudItem xs="12" @onclick="() => { NoteDetails(note.Id);}">
                <MudCard>
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">
                                @note.Title
                            </MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText>@note.Content</MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        }
    </MudGrid>*@
}